@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../fonts/Bebas/BebasNeueRegular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'BebasNeueBook';
  src: url("../fonts/Bebas/BebasNeueBook.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/Lato/LatoRegular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/Lato/LatoLight.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'LatoBold';
  src: url("../fonts/Lato/LatoBold.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'LatoBlack';
  src: url("../fonts/Lato/LatoBlack.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans/OpenSansBold.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans/OpenSansLight.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans/OpenSansLightItalic.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans/OpenSansRegular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/FontAwesome/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/FontAwesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.posCenter, .loader_wrap, header .slider .item .sl_shell, section .latest_wrap .latest_content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.totalS {
  height: 100%;
  width: 100%; }

li {
  list-style-type: none; }

.loader_wrap {
  background-color: #fff;
  z-index: 100000;
  text-align: center; }
  .loader_wrap .loader {
    position: fixed;
    top: 40%;
    left: 50%;
    display: inline-block;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .loader_wrap .loader p {
      font-weight: 100;
      font-size: 34px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #cb1b1c; }
      .loader_wrap .loader p span {
        font-size: 26px; }
      .loader_wrap .loader p i {
        padding: 5px;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-animation: beat 1.5s infinite;
                animation: beat 1.5s infinite; }
    .loader_wrap .loader .loading_wrap {
      width: 100%;
      position: absolute; }
      .loader_wrap .loader .loading_wrap .loading {
        margin: 0;
        padding: 0;
        display: inline;
        text-transform: capitalize;
        font-size: 16px; }
      .loader_wrap .loader .loading_wrap .doted_wrap {
        display: inline-block;
        height: 20px;
        width: 100px;
        position: relative;
        margin-left: 10px;
        text-align: left; }
        .loader_wrap .loader .loading_wrap .doted_wrap .doted {
          display: inline-block;
          width: 8px;
          height: 8px;
          left: 10px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #cb1b1c; }
          .loader_wrap .loader .loading_wrap .doted_wrap .doted:nth-child(1) {
            -webkit-animation: dot-1 1.5s infinite;
                    animation: dot-1 1.5s infinite; }
          .loader_wrap .loader .loading_wrap .doted_wrap .doted:nth-child(2) {
            -webkit-animation: dot-2 1.5s infinite;
                    animation: dot-2 1.5s infinite; }
          .loader_wrap .loader .loading_wrap .doted_wrap .doted:nth-child(3) {
            -webkit-animation: dot-3 1.5s infinite;
                    animation: dot-3 1.5s infinite; }

@-webkit-keyframes beat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes beat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@-webkit-keyframes dot-1 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes dot-1 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@-webkit-keyframes dot-2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  35% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes dot-2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  35% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@-webkit-keyframes dot-3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes dot-3 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

header .header_wrap {
  position: absolute;
  z-index: 1000;
  width: 100%; }
  header .header_wrap .logo {
    text-transform: uppercase; }
    header .header_wrap .logo h1 {
      font-weight: 100;
      font-size: 34px; }
    header .header_wrap .logo span {
      font-size: 26px; }
    header .header_wrap .logo a {
      color: inherit;
      text-decoration: none; }
  header .header_wrap .top_menu {
    float: right; }
    header .header_wrap .top_menu li {
      display: inline-block;
      padding-left: 37px;
      padding-right: 37px;
      margin-top: 40px; }
  header .header_wrap #toggle {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 35px;
    width: 40px;
    height: 40px;
    z-index: 10000; }
    header .header_wrap #toggle span {
      display: block;
      width: 100%;
      height: 5px;
      background: white;
      margin: 4px auto;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
  header .header_wrap #toggle.on .one {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px); }
  header .header_wrap #toggle.on .two {
    opacity: 0; }
  header .header_wrap #toggle.on .three {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
        -ms-transform: rotate(-45deg) translate(7px, -8px);
            transform: rotate(-45deg) translate(7px, -8px); }

header .slider {
  color: #fff;
  text-align: center;
  position: relative;
  width: 100%; }
  header .slider .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url("../img/girl.jpg"); }
    header .slider .item .sl_shell .centered {
      right: 0;
      left: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      header .slider .item .sl_shell .centered .title {
        max-height: 60%;
        overflow: hidden; }
        header .slider .item .sl_shell .centered .title h2, header .slider .item .sl_shell .centered .title p {
          text-align: center;
          text-transform: uppercase;
          font-size: 45px;
          letter-spacing: 2px; }
        header .slider .item .sl_shell .centered .title .colection, header .slider .item .sl_shell .centered .title .header_title {
          font-size: 24px;
          position: relative;
          letter-spacing: 9px;
          font-weight: 100; }
        header .slider .item .sl_shell .centered .title .header_title {
          letter-spacing: 1px; }
        header .slider .item .sl_shell .centered .title .button {
          position: relative;
          text-align: center;
          border-width: 1px;
          border-style: solid;
          display: block;
          padding: 20px 10px;
          margin: 0 auto;
          width: 200px;
          text-transform: uppercase; }
  header .slider .flickity-page-dots {
    bottom: 25px; }
    header .slider .flickity-page-dots .dot {
      width: 16px;
      height: 16px;
      background-color: #fff;
      opacity: 1;
      vertical-align: middle; }
    header .slider .flickity-page-dots .is-selected {
      width: 20px;
      height: 20px;
      background-color: inherit;
      border: 2px solid #fff; }

section {
  min-height: 1150px;
  text-align: center; }
  section img {
    width: 100%; }
  section h2 {
    margin: 60px 0;
    display: inline-block;
    position: relative; }
    section h2:after, section h2:before {
      content: '';
      display: block;
      width: 50%;
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px;
      margin: auto; }
    section h2:before {
      top: -15px;
      bottom: auto; }
  section .latest_wrap {
    position: relative;
    margin: 20px 0; }
    section .latest_wrap img {
      width: 100%; }
    section .latest_wrap .latest_content {
      height: 100%;
      margin: auto;
      padding: 40px; }
      section .latest_wrap .latest_content .h3_wrap {
        height: 100%;
        width: 100%;
        border-width: 1px;
        border-style: solid; }
        section .latest_wrap .latest_content .h3_wrap h3 {
          margin: 0;
          height: 100%; }
          section .latest_wrap .latest_content .h3_wrap h3 a {
            position: relative;
            display: table;
            height: 100%;
            width: 100%;
            font-size: 30px; }
            section .latest_wrap .latest_content .h3_wrap h3 a i {
              font-style: normal;
              display: table-cell;
              vertical-align: middle; }
    section .latest_wrap .action_wrap {
      padding: 0; }
      section .latest_wrap .action_wrap .action {
        border: none;
        margin: 0 auto; }
        section .latest_wrap .action_wrap .action h3 {
          display: table;
          width: 100%; }
          section .latest_wrap .action_wrap .action h3 a {
            display: table-cell;
            vertical-align: middle;
            text-decoration: none; }
            section .latest_wrap .action_wrap .action h3 a i {
              display: inline-block;
              width: 50%;
              text-align: center;
              margin: 0 auto;
              position: relative;
              padding: 40px 0; }
              section .latest_wrap .action_wrap .action h3 a i:hover:after, section .latest_wrap .action_wrap .action h3 a i:hover:before {
                content: '';
                display: none; }
              section .latest_wrap .action_wrap .action h3 a i:after, section .latest_wrap .action_wrap .action h3 a i:before {
                content: '';
                display: block;
                width: 50%;
                height: 1px;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto; }
              section .latest_wrap .action_wrap .action h3 a i:after {
                top: 0; }
              section .latest_wrap .action_wrap .action h3 a i:before {
                bottom: 0; }

.trends {
  background-image: url("../img/span-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-bottom: 120px; }
  .trends #trends_slider, .trends .flickity-viewport, .trends .flickity-slider {
    min-height: 500px; }
  .trends .item {
    width: 100%; }
    .trends .item .row {
      max-height: 600px;
      overflow: hidden; }
  .trends #trends_slider .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    vertical-align: middle; }
  .trends #trends_slider .flickity-page-dots .is-selected {
    border: 2px solid #cb1b1c;
    background-color: inherit;
    width: 16px;
    height: 16px; }
  .trends button, .trends button:hover {
    background: none; }
  .trends .items_title_wrap {
    margin-left: 10px;
    text-align: left; }
  .trends img {
    max-height: 550px;
    width: 100%; }
  .trends h3 {
    font-family: "LatoBold";
    text-transform: uppercase;
    font-size: 24px;
    color: #cb1b1c; }
  .trends h4, .trends p {
    font-family: "OpenSansRegular";
    font-size: 14px;
    color: #7f7f7f; }
  .trends p {
    font-family: "LatoRegular";
    max-height: 200px;
    overflow: hidden; }
  .trends .size_wrap {
    display: table;
    margin-bottom: 50px; }
    .trends .size_wrap .size_row {
      display: table-row;
      text-align: center; }
      .trends .size_wrap .size_row .button_wrap {
        padding: 15px;
        position: relative;
        float: left;
        width: 120px;
        height: 80px;
        vertical-align: middle; }
        .trends .size_wrap .size_row .button_wrap .button {
          font-family: "OpenSansBold";
          border: 1px solid #333;
          height: 100%;
          overflow: hidden;
          width: 100%;
          margin: auto;
          position: relative;
          cursor: pointer;
          text-transform: uppercase; }
          .trends .size_wrap .size_row .button_wrap .button span {
            display: block;
            right: 0;
            left: 0;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            color: #333; }
        .trends .size_wrap .size_row .button_wrap .button_active {
          background-color: #333;
          color: #fff; }
          .trends .size_wrap .size_row .button_wrap .button_active span {
            color: #fff; }
      .trends .size_wrap .size_row .big {
        width: 50%; }

.blog .news_wrap {
  text-align: left; }
  .blog .news_wrap h4 {
    font-size: 24px;
    text-align: left;
    color: #cb1b1c;
    font-family: "LatoBlack"; }
  .blog .news_wrap h5 {
    display: inline-block;
    padding: 0 10px;
    border-right: 2px solid #6e6e6e;
    color: #6e6e6e;
    font-family: "LatoRegular"; }
  .blog .news_wrap .theme {
    border: none; }
  .blog .news_wrap p {
    font-family: "OpenSansLight";
    color: #9a9a9a;
    border-top: 1px solid #9a9a9a;
    border-bottom: 1px solid #9a9a9a;
    padding: 32px 0; }
  .blog .news_wrap .news_button {
    text-transform: uppercase;
    font-family: "OpenSansBold";
    border: 1px solid #333;
    padding: 14px 20px;
    text-align: center;
    width: 170px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 60px; }

#footer {
  position: relative;
  min-height: 270px;
  width: 100%;
  background-image: url("../img/photo-8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #footer .footer_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 37, 51, 0.4); }
    #footer .footer_wrap h6 {
      color: #fff;
      font-size: 16px;
      font-family: "OpenSansLight"; }
    #footer .footer_wrap form {
      text-align: center;
      position: relative;
      text-align: left; }
      #footer .footer_wrap form input {
        display: inline-block; }
      #footer .footer_wrap form input[type="text"] {
        width: 100%;
        height: 50px;
        background-color: inherit;
        border: 1px solid #fff;
        color: #fff;
        font-family: "OpenSansLight";
        font-size: 12px;
        padding-left: 50px;
        display: inline-block;
        margin: 10px 0; }
      #footer .footer_wrap form input[type="submit"] {
        width: 270px;
        font-family: "FontAwesome";
        margin: 10px 30px;
        display: inline-block;
        background-color: #fff;
        border: none;
        font-family: "OpenSansBold";
        padding: 15px 0;
        position: relative;
        top: 1px; }

.form_wrap {
  vertical-align: middle;
  position: relative; }
  .form_wrap .place_wrap {
    display: inline-block;
    width: 50%; }
    .form_wrap .place_wrap i {
      position: absolute;
      bottom: 28px;
      color: #fff;
      left: 20px; }

.copy {
  background-color: #FFF;
  text-align: center;
  padding: 70px 0;
  font-family: "LatoRegular";
  color: #9a9a9a; }
  .copy i {
    color: #cb1b1c; }

header .sl_shell {
  background-color: rgba(34, 37, 51, 0.4); }

header .logo h1 {
  color: #cb1b1c;
  font-family: "BebasNeueRegular"; }

header .logo span {
  font-family: "BebasNeueBook"; }

header .top_menu li {
  font-family: "OpenSansRegular"; }
  header .top_menu li a, header .top_menu li a:hover, header .top_menu li a:active, header .top_menu li a:visited {
    color: #fff; }

header .centered h2, header .centered p {
  font-family: "LatoBlack";
  color: #fff; }

header .centered .colection, header .centered .header_title {
  font-family: "OpenSansLight"; }

header .centered .button {
  color: #fff;
  border-color: #fff;
  font-family: "LatoBlack"; }

header .target ul li {
  background-color: #fff; }

header .target ul .active_target {
  border-color: #fff; }

section h2 {
  font-family: "OpenSansLightItalic"; }
  section h2:after, section h2:before {
    background-color: #c21a1b; }

.latest_content {
  background-color: rgba(34, 37, 51, 0.7); }

.h3_wrap {
  border-color: #fff; }
  .h3_wrap a {
    color: #fff; }
    .h3_wrap a i {
      color: #fff; }
      .h3_wrap a i:after, .h3_wrap a i:before {
        background-color: #fff; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header_wrap .top_menu {
    display: none; }
  #footer .footer_wrap form {
    text-align: center; }
    #footer .footer_wrap form .form_wrap .place_wrap {
      width: 100%; }
      #footer .footer_wrap form .form_wrap .place_wrap i {
        top: 27px; }
  .trends button {
    margin: 0 !important;
    display: block;
    padding: 0;
    height: 60px;
    width: 60px;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    top: 120px;
    opacity: .8; }
    .trends button:hover {
      background-color: #fff; }
  .trends .previous {
    left: 20px; }
    .trends .previous svg {
      right: auto; }
  .trends .next {
    right: 20px; }
    .trends .next svg {
      right: 10px;
      left: auto; }
  .trends .is-selected button:hover {
    background-color: #fff;
    opacity: 1; }
  .trends .size_wrap {
    width: 100%; }
  .trends .flickity-page-dots {
    display: none; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
  header .header_wrap .logo h1 {
    font-size: 40px;
    color: #fff; }
  header .slider .flickity-page-dots .dot {
    width: 20px;
    height: 20px; }
  header .slider .item .sl_shell .centered .title {
    padding: 0 2%; }
    header .slider .item .sl_shell .centered .title h2 {
      font-size: 20px; }
    header .slider .item .sl_shell .centered .title .colection, header .slider .item .sl_shell .centered .title .header_title {
      font-size: 12px; }
    header .slider .item .sl_shell .centered .title .button {
      padding: 10px 5px;
      width: 150px; }
  section .latest_wrap .action_wrap .action h3 a {
    font-size: 5vw; } }

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #toggle {
    display: none; } }

/* Large Devices, Wide Screens */
