@font-face
  font-family: 'BebasNeueRegular'
  src: url("../fonts/Bebas/BebasNeueRegular.ttf")
  font-style: normal
  font-weight: normal


@font-face
  font-family: 'BebasNeueBook'
  src: url("../fonts/Bebas/BebasNeueBook.ttf")
  font-style: normal
  font-weight: normal


@font-face
  font-family: 'LatoRegular'
  src: url("../fonts/Lato/LatoRegular.ttf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'LatoLight'
  src: url("../fonts/Lato/LatoLight.ttf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'LatoBold'
  src: url("../fonts/Lato/LatoBold.ttf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'LatoBlack'
  src: url("../fonts/Lato/LatoBlack.ttf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'OpenSansBold'
  src: url("../fonts/OpenSans/OpenSansBold.ttf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'OpenSansLight'
  src: url("../fonts/OpenSans/OpenSansLight.ttf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'OpenSansLightItalic'
  src: url("../fonts/OpenSans/OpenSansLightItalic.ttf")
  font-style: normal
  font-weight: normal


@font-face
  font-family: 'OpenSansRegular'
  src: url("../fonts/OpenSans/OpenSansRegular.ttf")
  font-style: normal
  font-weight: normal






